.index-page {

  .header {
    .title {
      padding: 1em;
      padding-bottom: 0.2em;
    }
  }

  .map-box {
    width: 100%;
    padding: 2rem;
  }

  .ember-google-map {
    width: 100%;
    min-height: 600px;
  }

  .custom-marker {
    width: 200px;
    height: 100px;
  }

  .list-of-markers {
    padding: 1em;
  }

  .location-overlay {

    .location-thumbnail {
      border-radius: 4px;
      border: solid 1px #eee;
    }

    .location-name {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      margin: 4px;
      padding: 2px;
    }

    .bullet {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 0;
    }

  }

  .info-window-content {
    display: inline-flex;
  }

  .location-details {
    padding: 12px;
    .location-name {
      font-size: 2em;
    }
  }

}

md-dialog {
  md-input-container {
    width: 100%;
    margin-bottom: 0px;
    .md-input {
      box-shadow: none;
    }
  }
}
