<img src={{location.thumbnail}} alt="Building" height="60px">
<div class="location-details">
  <div class="location-name">{{location.name}}</div>
  <div class="location-info">Details about your stay would be here.</div>
</div>
